[Desktop Entry]
Name=SELinux Sandbox Runner
GenericName=Run an application within a tightly confined SELinux domain.
Type=Application
Categories=Utility;Qt;
Icon=applications-safety
Exec=se-sandbox-runner
Terminal=false
StartupNotify=true
