[Desktop Entry]
Name=SELinux Sandbox Runner
GenericName=Run an application within a tightly confined SELinux domain.
Type=Application
Categories=Utilities;Qt;
Icon=applications-safety.png
Exec=se-sandbox-runner
Terminal=false
StartupNotify=true
