[Desktop Entry]
Name=SELinux Sandbox Runner
GenericName=Run cmd under an SELinux sandbox
Type=Application
Categories=Development;System;Qt;
Icon=/usr/share/sandbox-runner-data/icons/256x256/apps/applications-safety-selinux.png
Exec=se-sandbox-runner
Terminal=false
StartupNotify=true
